@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><h1>Zdravko Kovachev Welcome in My Image Galery</h1></h1>
    <p>See more.... <a href="https://zdravkokovachev.com">My first Web Site</a>.</p>
</div>
